.blog-form-container {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-form-container h3 {
  text-align: center;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.blog-form-container form {
  display: flex;
  flex-direction: column;
}

.blog-form-container form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.blog-form-container form label {
  font-weight: 500;
  margin-bottom: 0;
  display: block;
  width: 20%;
}

.blog-form-container form input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.blog-form-container form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-form-container form button:hover {
  background-color: #0056b3;
}