.app-container {
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
}

.table-container {
  border: 1px solid #ddd;
  margin: 20px 0;
}

.table-container thead {
  background-color: #9cc398;
}

.table-container th,
.table-container td {
  color: #333;
  border: 1px solid #ddd;
  padding: 12px;
}

.table-container tr:nth-child(even) {
  background-color: #d7e4d1;
}

.table-container tr:hover {
  background-color: #b9b9b9;
}